<table>
    <tr>
        <td><img src="/student/images/skincare.jpg" height="60" title="Frontend" alt="" style="border-radius: 60px;"></td>
        <td><a href="{{site.baseurl}}/skincare/home">Home</a></td>
        <td><a href="{{site.baseurl}}/skincare/products">Products</a></td>
        <td><a href="{{site.baseurl}}/skincare/ingredients">Ingredients</a></td>
        <td><a href="{{site.baseurl}}/skincare/routine">Routine</a></td>
        <td><a href="{{site.baseurl}}/skincare/datatypes">Data Types</a></td>
        <td><a href="{{site.baseurl}}/skincare/utterances">Utterances</a></td>
        <td><span class="bi bi-brightness-high-fill" id="toggleDark"></span></td>
        <!-- <td><a href="{{site.baseurl}}/basics/javascript">JavaScript</a></td> -->
        <!-- <td><a href="{{site.baseurl}}/basics/js-debug">JS Debugging</a></td> -->
    </tr>
</table>
